@model School.Models.Student
@{
    ViewData["Title"] = "New";
}
<link href="~/css/Drag&Drop.css" rel="stylesheet" />

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">MainData</a></li>
        <li><a href="#tabs-2">OtherData</a></li>
        <li><a href="#tabs-3">Aenean lacinia</a></li>
    </ul>
    <div id="tabs-1">
        <partial name="~/Views/Student/Partial/MainData.cshtml" model="Model" />
    </div>

    <div id="tabs-2">
       
    </div>
    <div id="tabs-3">
       
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Drag&Drop.js"></script>

   

} 